# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
testgraph.py
test_graph.py
test*.py


# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local development
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile

# Large files and data
*.csv
*.parquet
*.pickle
*.pkl
*.h5
*.model
*.bin

# Exclude test files
test_*
tests/ 